#faqTitle{
    margin-bottom: 10px;
}
#leftHomeCol p{
opacity: 0.9;
}

.cardContainer{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 50px;
   flex-wrap: wrap;
   margin-inline: auto;
   @media (max-width :1200px) {
    gap: 30px;
   }

}
.touchBox h4{
color:  #361db7;
font-weight: 600;
}
#names{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

#contactDetails{
    font-size: 15px;
    margin-top: 20px;
}